.o_kanban_view {
  .o_kanban_record {
    @extend .card-bordered;
    @include border-radius($border-radius);
    @if ($dark_option==true) {
      background-color: $light-100;
    }

    .oe_kanban_details {
      .o_kanban_record_title {
        @extend h6;
        margin-bottom: 0.125rem;
      }

      ul {
        @extend .sub-text
      }
    }

  }

  &.o_kanban_grouped {
    background: transparent;

    .o_kanban_record {
      @extend .mb-1;
    }

    .o_column_folded {
      $bg_color: $white;
      $brd_color: $border-color;
      $color: $accent-color;

      @if ($dark_option==true) {
        $bg_color: $light-100;
        $brd_color: lighten($light-100, 8%);
        $color: $white;

      }

      background-color: $bg_color;
      border: 1px solid $brd_color;


      &:hover {
        background-color: darken($bg_color, 5%) !important;
        border-color: darken($bg_color, 5%) !important;
      }


      .o_kanban_header_title {
        color: $accent-color !important;

        .o_column_unfold {
          color: $accent-color !important;

        }
      }

      &:hover {
        $color: darken($color, 5%);
        background-color: darken($color, 5%);
        border-color: darken($color, 5%);

        .o_kanban_header_title {
          color: $accent-color !important;

          .o_column_unfold {
            color: $accent-color !important;

          }
        }
      }
    }
  }

  .o_kanban_quick_create {

    @if ($dark_option==true) {
      background-color: $light-100;
    }

    .o_form_view {
      border: 0 !important;
    }

    .o_kanban_cancel {
      color: color-yiq($secondary);
    }

    .o_content {
      padding: 0 !important;
    }
  }

}

.o_column_quick_create {
  @extend .ml-3;
  @extend .pr-3;

  .o_quick_create_folded {
    @extend .btn;
    @extend .py-3;
    @extend .px-4;
    $bg_color: $white;
    $brd_color: $border-color;
    $color: $accent-color;

    @if ($dark_option==true) {
      $bg_color: $light-100;
      $brd_color: lighten($light-100, 8%);
      $color: $white;

    }

    background-color: $bg_color;
    border-color: $brd_color;
    color: $color !important;

    &:hover {
      background-color: darken($bg_color, 5%);
      border-color: darken($bg_color, 5%);
      color: $color !important;
    }

    .o_kanban_add_column {
      @extend .p-0;
      background-color: transparent !important;
    }
  }


}


.o_content > .o_kanban_view.o_kanban_ungrouped:not(.o_renderer_with_searchpanel) {
  @extend .row;
}


@include media-breakpoint-up(sm) {
  .o_kanban_view.o_kanban_ungrouped .o_kanban_record {
    margin-bottom: 0.5rem;
  }
}

.o_kanban_view.o_renderer_with_searchpanel {
  @extend .mt-1;
}

.oe_kanban_bottom_left {
  font-size: 80%;
}

.o_kanban_image_fill_left:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.o_notebook {
  .o_kanban_record {
    @extend .mb-1;

  }
}

.o_kanban_dashboard {
  justify-content: stretch;

  .o_kanban_primary_bottom {


    &.bottom_block {
      margin-left: -2px;
      margin-right: -2px;
    }
  }
}

