$accent-color: #4f46e5 !default;
$custom_color: #4f46e5 !default;
$separator_style: "default" !default;
$separator_color: #526484 !default;
$breadcrumb_style: "default" !default;
$use_base_google_font: False !default;
$use_alt_google_font: False !default;
$base_google_font_family: Roboto !default;
$alt_google_font_family: Nunito !default;
$tabs_style: "default" !default;
$tabs_alignment: "horizontal" !default;
$buttons_style: "default" !default;
$buttons_angles: "rounded" !default;
$buttons_size: "medium" !default;
$radios_style: "default" !default;
$checkbox_style: "default" !default;
$shape_none_color_icon: #222222 !default;
$shape_style_unique_color: #4f46e5 !default;
$shape_style_unique_color_icon: #fefefe !default;
$list_view_header_bg_color: False !default;
$list_view_header_fg_color: False !default;
$shape_shadow: False !default;
$modal_animated_entrance: False !default;
$list_view_style_spaced: True !default;
$list_view_style_separate: False !default;
$list_view_style_hover: "normal" !default;

//Panel Setting Options Colors
$os-skin-colors: #4f46e5,
#aa4586,
#86bc42,
#7a19ca,
#c60f0f,
#3a3973 !default;

