$accent-color: #4f46e5;
$custom_color: #4f46e5;
$separator_style: "default";
$separator_color: #526484;
$breadcrumb_style: "default";
$tabs_style: "default";
$tabs_alignment: "horizontal";
$buttons_style: "default";
$buttons_angles: "rounded";
$buttons_size: "medium";
$radios_style: "default";
$checkbox_style: "default";
$shape_none_color_icon: #222222;
$shape_style_unique_color: #4f46e5;
$shape_style_unique_color_icon: #fefefe;
$list_view_header_bg_color: False;
$list_view_header_fg_color: False;
$shape_shadow: False;
$modal_animated_entrance: False;
$list_view_style_spaced: True;
$list_view_style_separate: False;
$list_view_style_hover: "normal";